.lib-camera-controls
	.camera-actions
		display flex
		flex-wrap wrap
		gap .5rem
		margin-block .75rem
		button
			flex 1 1 12rem
	dl
		display grid
		grid-template-columns auto 1fr
		gap .25rem 1rem
	dd
		margin 0
	table input
		min-width 4rem
		width 100%
	fieldset, details
		margin-block 1rem
